# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.A Warring State.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\User\OneDrive\Uni\6. Semester at Hanze\Game Design Elective\Unity Project\A Warring State\.idea\.idea.A Warring State\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
